/* .header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-e-nome-da-pagina{
    display: flex;
    align-items: center;
    gap: 45px;
}

.logo-e-nome-da-pagina img{
    width: 110px;
}

.logo-e-nome-da-pagina h1{
    color: #001EC0;
    font-size: 27px;
}

.avisos-e-conta{
    display: flex;
    gap: 25px;
    align-items: center;
}

.avisos-e-conta p{
    color: #B5B7C0;
}

.input-search input{
    padding: 14px 25px;
    border-radius: 15px;
    border: 1px solid #B5B7C0;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avisos-e-conta button{
    background-color: #fff;
    border: none;
    background-color: #EBEBEB;
    border-radius: 12px;
    padding: 6px 7px;
    cursor: pointer;
    font-size: 18px;
}

.user-info img{
    width: 52px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
} */